body {
    background-image: linear-gradient(rgb(39, 76, 97), rgb(76, 141, 179), rgb(86, 183, 240));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: x-large; 
}

h1 {
    color: antiquewhite;
    text-align: center;
    background-color: rgb(65, 110, 110);
    border-radius: 10px;
    margin: 0;
    padding: 30px;
}

ul {
    color: antiquewhite;
    list-style: none;
}

#resultado {
    background-color: antiquewhite;
    border-radius: 20px;
    text-align: center;
    line-height: 18vw;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 10px 20px 10px rgb(28, 53, 68);
}

#btn {
    text-decoration: none;
    color: black;
    font-weight: 600;

}

